// govuk and project custom input styles

.govuk-input {
  &--read-only {
    box-shadow: none;
    outline: none;
    border: none;
    padding-left: 0;
    
    &:disabled {
      background: #fff;
      color: govuk-colour("black");
    }
  }
}

