.els-api-schema-table {
  table-layout: fixed;
  word-break: break-word;

  .property-header {
    width: 50%;
  }

  .description-header {
    width: 38%;
  }

  .type-header {
    width: 12%;
  }
}
