$govuk-images-path: "/assets/govuk-frontend/dist/govuk/assets/rebrand/images/";
$govuk-fonts-path: "/assets/govuk-frontend/dist/govuk/assets/fonts/";
$govuk-new-typography-scale: true;

// import ALL GOVUK components
@import '../public/assets/govuk-frontend/dist/govuk/index';

// Helpers
@import "helpers/typography";

// Components
@import "components/input";
@import "components/arrow-icon";
@import "components/sub-navigation";
@import "components/code";
@import "components/api-schema-table";
